body{
    background-color: black;
}

h1{
    color: white;
    font-size: 50px;
}

p{  
    color: white;
    font-size: 20px;
    font-family: '맑은고딕';
}

img{
    width: 30%; /*사진 사이즈가 너무 커서 조정했습니다.*/
    height: 30%;
}

li{
    color: white;
    font-size: 15px;
}